body {
  background: #8b8685;
  margin: 0;
  padding: 0;
  color: #e9e8e7;
  font: 32px Arimo, Noto Sans Thai, sans-serif;
}
html[data-electron='1'] body {
  background: transparent;
}

.AppView {
  display: flex;
  padding: 32px;
  align-items: flex-start;
}
.AppView[data-visible='0'] {
  opacity: 0;
  transform: translateY(-30px);
}
.AppView[data-visible='1'] {
  transition: 0.5s ease-out;
}
.AppView-icon {
  width: 64px;
  height: 64px;
  flex: none;
  margin-right: 8px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.AppView-transcript {
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.3);
  line-height: 42px;
  padding: 11px 16px;
  font-weight: bold;
  min-height: 64px;
  box-sizing: border-box;
  transform-origin: top left;
  transform: translateY(3px) scale(0.9);
}
.AppView[data-finished='1'] .AppView-transcript {
  color: #d7fc70;
  transform: scale(1);
  transition: 0.2s transform;
}
.AppView[data-status='idle'] .AppView-icon {
  color: #000;
}
.AppView[data-status='listeningRequested'] .AppView-icon {
  color: #fb5e90;
}
.AppView[data-status='listening'] .AppView-icon {
  color: #e9e8e7;
}

.AppView[data-fading='1'] .AppView-transcript {
  transform: translateX(-32px) translateY(32px) scale(0.001);
  transition: 0.5s transform cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-delay: 0.4s;
}
.AppView[data-fading='1'] .AppView-icon {
  transform: scale(0);
  transition: 0.3s transform cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-delay: 0.6s;
}
